body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#root {
    height: 100%;
}

.marker {
    width: 30px;
    height: 30px;
    transform: translate(-50%, -100%);
}

.marker.default path {
    fill: #3CAEA3;
}

.marker.create path {
    fill: #F6D55C;
}

.marker.update path {
    fill: #ED553B;
}

.popup {
    max-width: 200px;
    max-height: 50vh;
    margin: .5rem;
    overflow: scroll;
}

.popup img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.error {
    color: #F05305;
}

.submit {
    width: 100%;
}

.rating { 
    position: relative;
    border: none;
    display: inline-block;
}

.rating > input { display: none; } 
.rating > label::before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half::before { 
    content: "\f089";
    position: absolute;
    overflow: hidden;
}

.rating > label { 
    color: #ddd; 
    float: right; 
    margin-bottom: 0px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating.active:not(:checked) > label:hover, /* hover current star */
.rating.active:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating.active > input:checked + label:hover, /* hover current star when changing rating */
.rating.active > input:checked ~ label:hover,
.rating.active > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating.active > input:checked ~ label:hover ~ label { color: #FFED85;  } 
